#userHome {
  display: flex;
  font-family: futura-pt, sans-serif;
}
#profile {
  position: relative;
  border: 2px solid #dddddd;
  text-align: center;
  width: 100%;
}
#userEvents {
  border: 2px solid red;
}
.circle_image {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 15% auto 15% auto;
  border: 4px solid #b6d2e4;
}

#myProPic {
  width: 100%;
  height: auto;
}
.userInfo {
  text-align: left;
  line-height: 3em;
}
.header {
  display: inline;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
}

.info {
  display: inline;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 300;
}
